div.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: thin solid #b3b3b3;
    height: 93px;
}

div.icon {
    display: flex;
    height: 93px;
    width: 600px;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: #d6bd98;
    mask-image: url("little-alchemy-2-icon.png");
}

h1 {
    color: #f3f3f3;
    font-family: 'Josefin Sans', Poppins, Arial;
    text-shadow: -1px -1px 0 #000, 1px -1px #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

div.navbar-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 10px;
    padding: 0px;
    height: 60%;
    width: clamp(470px, 20%, 570px);
    border-radius: 200px;
    border: 2px solid var(--foreground);
    background-color: var(--foreground);
}

#choice1 {
    height: 85%;
    width: 95%;
    background-color: white;
    color: var(--foreground);
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


div.result-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

div.result-body p.target-element {
    margin: 5px;
    padding: 10px;
    width: clamp(300px, 60%, 510px);
    height: 58px;
    border-radius: 12px;
    border: thin solid var(--foreground);
    background-color: var(--foreground);
    text-align: left;
    vertical-align: middle;
    align-content: center;
}

div.result-body div {
    display: flex;
    justify-content: space-between;
    width: clamp(300px, 60%, 510px);
    margin: 0em 0em 2em 0em;
}

div.result-body  div.statistics p {
    color: #b3b3b3;
    margin: 5px;
}

div.result-body div.graph {
    padding: 50px;
    width: 80%;
    height: 500px;
    background-color: var(--foreground);
}

div.result-body button {
    margin: 10px;
    padding: 10px;
    width: 199px;
    height: 44px;
    border-radius: 12px;
    border: thin solid #d6bd98;
    background-color: #d6bd98;
    color: black;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}